{% extends "base.html" %}
{% block title %}Event List{% endblock %}

{% block content %}
<h2>Event List</h2>
<div class="container mt-5">
  <div class="row">
    {% for event in events %}
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 100%;">
          {% if event.image %}
            <img class="card-img-top" src="{{ event.image.url }}" alt="{{ event.title }}">
          {% endif %}
          <div class="card-body">
            <h3 class="card-title">{{ event.title }}</h3>
            <p class="card-text">{{ event.description }}</p>
            <p class="card-text">Date: {{ event.date }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


  {% for event in page_obj %}
  {{ event.full_name|upper }}<br>
{% endfor %}

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock %}
