{% extends "base.html" %}

{% block title %}Member List{% endblock %}

{% block content %}
  <h1>Member List</h1>
  <div class="row">
    {% for member in members %}
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            {% if member.photo %}
              <img class="card-img-top" src="{{ member.photo.url }}" alt="{{ member.name }}">
            {% endif %}
            <h5 class="card-title">{{ member.name }}</h5>
            <p class="card-text">{{ member.email }}</p>
            <p class="card-text">Age : {{ member.age }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
